body {
  align-items: center;
  background-blend-mode: normal;
  background-image: url('../../images/BG\ AZUL.png') , linear-gradient(123.66deg, #003be5 12.08%, #00d5e2 86.52%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

img {
  display: block;
  margin-bottom: 70px;
}

.login-box {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 250px auto 0;
  padding: 100px 200px;
  width: 700px;
}
