body {
  background-image: url(../../images/BG\ AZUL.png), linear-gradient(123.66deg, #003BE5 12.08%, #00D5E2 86.52%);
  /* background-color: #ff0000; */
  background-blend-mode: normal;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  margin-bottom: 70px;
}

.login-box {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 100px 200px;
}